body{
    font-family: Arial, sans-serif;
    background-color:#f4f6f9;
    margin:0;
    padding:0;
}

.header{
    background:#003366;
    color:white;
    text-align:center;
    padding:15px;
}

.logo{
    align:right-side;
    height:120px;
    width:100px;
}

.navbar{
    background:#00509e;
    padding:12px;
    text-align:center;
}

.navbar a{
    color:white;
    text-decoration:none;
    margin:15px;
    font-weight:bold;
}

.navbar a:hover{
    color:yellow;
}

.logout{
    background:red;
    padding:8px 12px;
    border-radius:5px;
}

.container{
    padding:20px;
}

.card{
    background:white;
    padding:20px;
    margin-bottom:15px;
    border-radius:10px;
    box-shadow:0px 2px 8px gray;
}

table{
    width:100%;
    border-collapse:collapse;
    background:white;
}

th{
    background:#003366;
    color:white;
}

th,td{
    border:1px solid #ddd;
    padding:10px;
    text-align:center;
}

input,select{
    padding:8px;
}

button{
    background:#003366;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#00509e;
}

.footer{
    background:#003366;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:20px;
}

.login-box{
    width:350px;
    margin:100px auto;
    background:white;
    padding:25px;
    border-radius:10px;
    box-shadow:0px 0px 10px gray;
}